//global styles
// font-family: 'Abril Fatface', cursive;
// font-family: 'Playfair Display', serif;

body{
	background: $blue;
	font-family: 'Playfair Display', serif;
}

h1{
	color:white;
	font-family: 'Abril Fatface', cursive;
}

//input styles


//quiz styles

.quiz{
	display:none;
}

//results styles

.scoreboard{
	display:none;
}
