//global styles
// font-family: 'Abril Fatface', cursive;
// font-family: 'Playfair Display', serif;

body{
	background: $blue;
	font-family: 'Playfair Display', serif;
	font-size: 62.5%;
}

h1{
	color:white;
	font-family: 'Abril Fatface', cursive;
	text-align:center;
	font-size: 2rem;
}
h2{
	font-size: 2rem;
}
.wrapper{
	max-width:1200px;
	margin:0 auto;
}

.splash{
	margin:30px 0;
	border:2px solid $pale;
	border-radius:5px;
	padding:30px 0;
	background:$lightblue;
	height:90vh
}

//input styles

form{
	margin:0 auto;
}

.players{
	display:none;
}

.categories{
	display:block;
	margin:0 auto;
	font-size: 1rem;
}
.difficulty{
	display: none;
	margin:0 auto;
	font-size: 1rem;
	color: white;
}

.numberOfQuestions{
	display:block;
	margin:30px auto;
	-webkit-appearance: none;
	background:$darkblue;
	border-radius:15px;
	height:10px;
	display:none;
}


.numberOfQuestionsChoice{
	width:50px;
	height:50px;
	border: 1px solid red;
	display:none;
	margin:0 auto;
}




.numberOfQuestions::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: $pale;
	border: 1px solid #bdc3c7;
	width: 8px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}
.startQuiz{
	display:none;
	margin:0 auto;
	border-radius:5px;
	background-color:$pale;
	border:1px solid $darkblue;
	transition:all 0.3s;
	font-size: 2rem;
}

.startQuiz:hover{
	transform:scale(1.2);
	box-shadow: 1px 1px $darkblue, 2px 2px $darkblue, 3px 3px $darkblue;
}



//quiz styles

.quiz{
	display:none;
}
.question{
	text-align: center;
	width: 80%;
	margin:0 auto;
	color: white;
	margin-top: 100px;
}
.playerIndicator{
	text-align: center;
	color: white;
	font-size: 1rem;
}
.answerContainer{
	margin: 0 auto;
	width: 80%;
	text-align: center;
}
.answer{
	float: left;
	width: calc(50% - 20px);
	margin: 10px;
	height: 100px;
	background: $darkblue;
	color: white;
	border: 4px solid $lightblue;
	font-size: 1rem;
	transition: all 1s;
	&:hover{
		transform: scale(1.1);
	}
}
.submitAnswer{
	text-align: center;
	margin: 0 auto;
	margin-top: 50px;
	height: 100px;
	background: $darkblue;
	color: white;
	border: 4px solid $lightblue;
	width: 50%;	
	display: block;
	font-size: 1.5rem;
}

//results styles

.scoreBoard{
	display:none;
}
