//global styles
// font-family: 'Abril Fatface', cursive;
// font-family: 'Playfair Display', serif;

body{
	background: $blue;
	font-family: 'Playfair Display', serif;
}

h1{
	color:white;
	font-family: 'Abril Fatface', cursive;
	text-align:center;
}
.wrapper{
	max-width:1200px;
	margin:0 auto;
}

.splash{
	margin:30px 0;
	border:2px solid $pale;
	border-radius:5px;
	padding:30px 0;
	background:$lightblue;
	height:90vh
}

//input styles

.players{
	display:none;
}

.categories{
	display:block;
	margin:0 auto;
}
.difficulty{
	display: none;
}

.numberOfQuestions{
	display:block;
	margin:30px auto;
	-webkit-appearance: none;
	background:$darkblue;
	border-radius:15px;
	height:10px;
	display:none;
}

.numberOfQuestions::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: $pale;
	border: 1px solid #bdc3c7;
	width: 8px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}
.startQuiz{
	display:none;
	margin:0 auto;
	border-radius:5px;
	background-color:$pale;
	border:1px solid $darkblue;
	transition:all 0.3s;
}

.startQuiz:hover{
	transform:scale(1.2);
	box-shadow: 1px 1px $darkblue, 2px 2px $darkblue, 3px 3px $darkblue;
}



//quiz styles

.quiz{
	display:none;
}

//results styles

.scoreBoard{
	display:none;
}
