body{
	background-image: url(../assets/manifest.jpeg);
	transition: all 2s;
	transform: scale(1) rotate(0deg);

}
img{
	transform: rotateX(0); 
	transition: all 5s;
}
img:hover{
	transform: rotate(9000deg);
	position: absolute;
	top: 99px;
	right: 500px;
}